/*
 * TABLE OF CONTENTS
 * vars.................variable declarations
 * generic..............default settings for elements
 * element-modifiers....classes for element modifiers
 * components...........reusable components
 */



/*-------------------*\
 * #VARS
\*-------------------*/

$foreground: #222;
$background: #fbfbfb;
$accent: #16C23C;



/*-------------------*\
 * #GENERIC
\*-------------------*/

html {
    background-color: $background;
}



/*-------------------*\
 * #ELEMENT-MODIFIERS
\*-------------------*/



/*-------------------*\
 * #COMPONENTS
\*-------------------*/



